@import './reset.css';
:root {
    font-family: 'Roboto-Bold', sans-serif;
}

html, body {
    color: #FFFFFF;
    object-fit: cover;
    background-image: url('../public/Zeus-breaks-chains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    padding-top: 2rem;
    padding-right: 2rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.mint {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%; height: 15%;
}

.img-container {
    width: 25rem; height: 25rem;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 0 0 10px 4px #303030;
}

.mintBtn {
    padding: .8rem 3.5rem;
    color: #1f1f57;
    background-color: #ffd400;
    border: none;
    border-radius: 1%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.mintBtn:hover {
    padding: .8rem 3.5rem;
    background-color: #c9a701;
    border: none;
    border-radius: 1%;
}

.card {
    width: 32rem; height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f1f57;
    border-radius: 1%;
    box-shadow: 0 0 20px 8px #303030;
}